/* //////tablette et pc///// */

@media only screen and (max-device-width: 767px) {
  #navbar {
    display: none;
  }
  body p, li {
    font-size: 2em;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 5em;
  }
  h4 {
    font-size: 1.2em;
  }
  hr {
    display: none;
  }
  ul li {
    font-size: 2em;
  }
  footer {
    display: inline-block;
    height: 7%;
    background: #2f2f2f;
    clear: both;
  }
  .news {
    width: 100%;
    float: none;
    padding-left: 0;
  }
  .news h3 {
    padding-left: 5%;
    margin: 0;
  }
  .news p {
    width: 100%;
    padding-bottom: 10%;
    line-height: 1.2;
    font-size: 2em;
  }
  .about p {
    margin: 0 auto;
    padding: 0 auto;
    width: 80%;
    line-height: 1.5;
  }
  .knowledge img {
    width: 30%;
    display: inline-block;
    margin: 9%;
    margin-top: 5%;
  }
  .sequent {
    margin: 0;
    padding: 0;
  }
  .sequent img {
    width: 37%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 6%;
  }
  .skills ul {
    padding: 4%;
    margin-left: 3%;
  }
  .skills ul li {
    list-style: initial;
    font-size: 1.6em;
  }
  .progressBar {
    display: none;
  }
  .pratice h3 {
    padding: 0;
    padding-top: 2%;
  }
  .pratice {
    width: 100%;
  }
  .pratice p {
    margin: 0 auto;
  }
  .timeline {
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }
  .timeline::before {
    display: none;
  }
  .timeline ul {
    width: 100%;
  }
  .timeline ul li {
    width: 100%;
    padding: 0;
  }
  .timeline ul li p {
    margin: 0;
    width: 100%;
  }
  .timeline ul li h4 {
    margin: 5%;
    text-align: center;
  }
  .timeline ul li:nth-child(odd):before {
    display: none;
  }
  .timeline ul li:nth-child(even):before {
    display: none;
  }
  .content {
    width: 100%;
    margin-top: 15%;
    padding: 0;
  }
  .content h4 {
    width: 100%;
    text-align: left;
    text-decoration: underline;
    margin: 7%;
    font-size: 2em;
  }
  .content p {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    line-height: 1.2;
    font-size: 1.5em;
    text-align: justify;
  }
  .content a {
    color: black;
    text-decoration: none;
  }
  .time {
    display: none;
  }
  .time_1 {
    display: none;
  }
  .hobbies .news {
    padding: 0;
    margin-top: 5%;
  }
  .hobbies_picture {
    width: 50%;
    display: inline;
  }
  .hobbies_picture h4 {
    font-size: 3em;
  }
  .hobbies_picture img {
    width: 25%;
    margin-top: 5%;
    margin-left: 35%;
    padding: auto;
  }
  .text {
    width: 80%;
    margin: auto;
    margin-bottom: 15%;
  }
  #foot {
    position: relative;
    width: 100%;
    height: 1%;
  }
  .info {
    width: 50%;
    float: none;
    text-align: center;
    display: inline;
    color: white;
  }
  .job {
    width: 50%;
    float: none;
    text-align: center;
    display: inline;
    color: white;
  }
  .job {
    font-size: 0.8em;
  }
  .job h4 {
    font-size: 3em;
  }
  .button_top {
    display: none;
  }
  .copyright {
    text-align: center;
    display: inline-block;
    width: 100%;
    background: grey;
    margin-top: 0;
    padding-top: 1%;
    color: white;
  }
}
