@import url('https://fonts.googleapis.com/css?family=Chewy|Reem+Kufi');
/* font-family: 'Chewy', cursive;
font-family: 'Reem Kufi', sans-serif; */

html {
  margin: 0;
  font-family: 'Reem Kufi', sans-serif;

}

header {
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  z-index: auto;
}

body {
  margin: 0 auto;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding-left: 3%;
}

nav ul {
  margin: 0;
}

nav li a {
  color: grey;
  text-decoration: none;
  font-size: 1.2em;
}

nav li a:hover {
  color: #048b9a;
}

h1 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3.5em;
  margin: 0;
  padding-top: 10%;
  font-family: 'Chewy', cursive;
  letter-spacing: 0.09em;
}

h2 {
  font-size: 1.9em;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding-top: 3%;
  font-family: 'Chewy', cursive;
  letter-spacing: 0.09em;
}

h3 {
  margin: 0 auto;
  color: #048b9a;
  padding-left: 29%;
  padding-top: 3%;
}

hr {
  display: inline-block;
  width: 80%;
  margin-left: 8%;
  margin-bottom: 3%;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  background-color: rgba(15, 26, 27, 0.90);
  width: 100%;
}

/*animation of the navbar*/

#navbar {
  background-color: rgba(15, 26, 27, 0.90);
  height: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  margin: 0;
}

#navbar li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #048b9a;
  transition: width .3s;
}

#navbar li a:hover::after {
  width: 100%;
  transition: width .3s;
}

/* end of the menu animation*/

/*setting up the title class*/

.title {
  text-align: center;
}

.title li {
  display: inline-block;
  color: white;
  margin-left: 2%;
  text-shadow: 2px 2px 2px black;
  padding-top: 2%;
}

.about {
  width: 100%;
  margin: 0;
  background-color: #2f2f2f;
  background-size: cover;
  color: white;
  padding-top: 5%;
}

.about p {
  width: 40%;
  margin: auto;
  text-align: justify;
  line-height: 1.7;
}

.news {
  width: 25%;
  margin: 0 auto;
  color: #048b9a;
  display: inline-block;
  line-height: 1.428571429;
  float: left;
  background-color: #2f2f2f;
}

.news p {
  color: white;
}

.knowledge {
  background-color: #2f2f2f;
  padding-top: 10%;
  width: 100%;
  padding-bottom: 10%;
}

.knowledge img {
  width: 8%;
  margin-left: 5%;
}

.sequent {
  padding-top: 8%;
  padding-bottom: 5%;
  padding-left: 24%;
}

.sequent img {
  width: 10%;
  margin-left: 8%;
}

.skills {
  background-color: #2f2f2f;
  padding-bottom: 5%;
}

.skills ul {
  margin: 0;
  padding-left: 25%;
  list-style-type: none;
  padding-top: 2%;
  color: white;
  line-height: 1.428571429;
}

.progressBar {
  width: 50%;
  height: 5px;
  background-color: grey;
  float: right;
  margin-top: 7px;
  margin-right: 15%;
  border-radius: 10px;
}

.bar {
  background-color: #048b9a;
  height: 5px;
  border-radius: 10px;
}

.pratice h3 {
  margin: 0 auto;
  color: #048b9a;
  padding-left: 29%;
  padding-top: 15%;
  background-color: white;
}

/* ================ The Timeline ================ */

.empty {
  clear: both;
}

.timeline {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  padding-top: 5%;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 90%;
  background: #2f2f2f;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 3% 6%;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 6%;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  right: -1.5%;
  width: 10px;
  height: 10px;
  background: rgba(4, 139, 154, 1);
  border-radius: 100%;
  box-shadow: 0 0 0 3px rgba(4, 139, 154, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  left: -1%;
  width: 10px;
  height: 10px;
  background: rgba(4, 139, 154, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(4, 139, 154, 0.2);
}

.timeline ul li h4 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgba(4, 139, 154, 1);
}

.timeline ul li p {
  margin: 3% 0 0;
  padding: 0;
}

.timeline ul li .time h5 {
  margin: 0;
  padding: 0;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 9%;
  right: -59%;
  margin: 0;
  padding: 8px 16px;
  background: rgba(4, 139, 154, 1);
  color: #fff;
  border-radius: 12%;
  box-shadow: 0 0 0 3px rgba(4, 139, 154, 0.2);
}

.timeline ul li:nth-child(odd) .time_1 {
  position: absolute;
  top: 5%;
  right: -55%;
  margin: 0;
  padding: 2% 4%;
  background: rgba(4, 139, 154, 1);
  color: #fff;
  border-radius: 12%;
  box-shadow: 0 0 0 3px rgba(4, 139, 154, 0.2);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 7%;
  left: -55%;
  margin: 0;
  padding: 8px 16px;
  background: rgba(4, 139, 154, 1);
  color: #fff;
  border-radius: 12% 12%;
  box-shadow: 0 0 0 3px rgba(4, 139, 154, 0.2);
}

.position {
  margin: 0;
}

#personal h3 {
  background: white;
}

#personal p {
  text-shadow: 1px 1px 1px black;
}

.hobbies img {
  width: 7%;
  position: relative;
  display: inline;
}

.hobbies_picture {
  display: inline-block;
  width: 18%;
  height: 25%;
  background: white;
  text-align: justify;
  margin-left: 1.5%;
  margin-top: 2%;
}

.hobbies_picture h4 {
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.hobbies_picture img {
  width: 35%;
  margin-left: 33%;
}

.hobbies {
  width: 100%;
  display: inline-flex;
  margin-bottom: 5%;
}

.text {
  box-shadow: 1px 1px 1px black;
  background: #048b9a;
  border-radius: 20px;
  margin-top: 2%;
  padding: 8%;
  color: white;
  line-height: 1.3;
  height: 190px;
  width: 80%;

}

.text p a {
  color: white;
}

.copyright {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 1%;
  padding-bottom: 1%
}

.info {
  width: 50%;
  float: right;
  text-align: center;
  display: inline;
  padding-top: 3%;
  padding-bottom: 3.2%
}

.job {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* #foot {
  background-color: #eee;
} */

.button_top a img {
  width: 20%;
  float: right;
  padding-right: 2%;
  padding-top: 5%;
  display: inline-block;
}

.button_top {
  width: 40%;
  float: right;
  margin-right: 2%;
}

.cv {
  color: grey;
  text-shadow: 1px 1px 2px black;
}

.content a {
  color: black;
}

.content a:hover {
  color: #048b9a;
}
