@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
  src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg')
}

@import url('https://fonts.googleapis.com/css?family=Acme');
*, *:after, *:before {
  box-sizing: border-box;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: .8
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.grid figure figcaption::before, .grid figure figcaption::after {
  pointer-events: none
}

.grid figure figcaption, .grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300
}

.grid figure h2 span {
  font-weight: 800
}

.grid figure h2, .grid figure p {
  margin: 0
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%
}

@media screen and (max-width:50em) {
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%
  }
}

/* image armée */

figure.effect-oscar {
  background: -webkit-linear-gradient(45deg, #22682a 0, #9b4a1b 40%, #3a342a 100%);
  background: linear-gradient(45deg, #22682a 0, #9b4a1b 40%, #3a342a 100%)
}

figure.effect-oscar img {
  opacity: .9;
  -webkit-transition: opacity .35s;
  transition: opacity .35s
}

figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(58, 52, 42, 0.7);
  -webkit-transition: background-color .35s;
  transition: background-color .35s
}

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: ''
}

figure.effect-oscar h2 {
  /* margin: 20% 0 10px 0; */
  display: flex;
  justify-content: center;
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0)
}

figure.effect-oscar figcaption::before, figure.effect-oscar p {
  opacity: 0;
  margin-top: 8%;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -webkit-transform: scale(0);
  transform: scale(0)
}

figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

figure.effect-oscar:hover figcaption::before, figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}

figure.effect-oscar:hover figcaption {
  background-color: rgba(58, 52, 42, 0)
}

figure.effect-oscar:hover img {
  opacity: .4
}

body {
  margin: 15% auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 75%;
  height: 100%;
  /* For at least Firefox */
  color: #D6ECFF;
  background: #CE5937;
  background: -moz-linear-gradient(left, #CE5937 0%, #398F75 0%, #1D4957 100%);
  background: -webkit-linear-gradient(left, #CE5937 0%, #398F75 0%, #1D4957 100%);
  background: linear-gradient(to right, #CE5937 0%, #398F75 0%, #1D4957 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding-bottom: 2.5em;
  font-family: 'Indie Flower', cursive;
}


.my_photo {
  width: 30%;
  float: left;
  display: inline-block;
}

.my_photo img {
  margin-left: 20%;
}

.lorem {
  float: right;
  width: 60%;
  text-align: justify;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.lorem p {
  width: 80%;
  line-height: 1.4;
  display: inline-block;
  padding-left: 0 auto;
  letter-spacing: 0.09em;
}

.about_me img {
  width: 50%;
  display: inline-block;
}

.container {
  display: inline-flex;
  justify-content: center;
  margin-top: 5%;
}

.grid {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.login-box {
  width: 25%;
  height: 75%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 3em;
}

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #048B9A;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #048B9A;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

.login-box a:hover {
  color: #39dc79;
}

footer {
  display: flex;
  padding: 0 auto;
  margin-top: 5%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  height: 5%;
}
